/*
* *************************************************************
* fashiolista VARIABLES
* *************************************************************
*/

// COLORS
// --------------------------------------------------
$flGrey:                      #222 !default;
$flGreyLight:                 #919191 !default;
$flRed:                       #cc0000 !default;


// LOGO
// --------------------------------------------------
$flLogoSize:                  150px !default;


// MISC
// --------------------------------------------------
$flTextShadow: 1px -1px 1px rgba(#fff, .75), -1px 1px 1px rgba(#222, .25) !default;